<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>{{title}}</h1>
    <div>
    <form #myForm='ngForm' (submit)='onSubmit()'>
      <label>Note: </label>
      <input 
      type="text" 
      name="note"
      [(ngModel)]='note.note'
      >
      <input type="submit" value="Add Note">
    </form>
  </div> 

  <div class="notes">
    <div *ngFor="let note of notes | sortBy : '-createdAt' ">
      <p>{{note.note}}</p>
      <p>{{note.createdAt | date:'medium'}}</p>
    </div>
  </div> 
</div>

<router-outlet></router-outlet>
